.comment_btn {
    float: right;
    margin-top: 10px;
}

.article_author {
    opacity: .6;
}

.anticon {
    &-edit {
        color: yellow;
    }

    &-delete {
        color: red;
    }
}

.ant-card {
    &-head {
        border-bottom: 0;
    }
}

.sendCommentForm {
    max-width: 100% !important;
}

.please_login {
    text-align: center;
}