.sidebar {
    display: flex;
    flex-direction: column;

    .create_article {
        margin: 10px 0;
    }

    .ant-list-item {
        cursor: pointer;
    }
}

.ant-modal {
    width: 95vw !important;

    &-content {
        height: 90vh;
    }
}