.logo {
    float: right
}

.login_tab {
    float: right;
}

.ant-layout-content {
    margin-top: 20px;
}

.ant-btn-primary {
    background: "rgba(50, 168, 64)";
    border: "rgba(50, 168, 64)"
}

.ant-menu-item ::selection {
    background: #000000;
}

a {
    font-family: sans-serif;
}